{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Fragments of MAPT{% endblock %}

{% block content %}
    <div class="container">
        <h1>Edges with MAPT ({{ rows|length }})</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>BEL</th>
                <th>Reference</th>
            </tr>
            </thead>
            <tbody>
            {% for bel, ref_type, ref in rows %}
                <tr>
                    <td>{{ bel }}</td>
                    <td>
                        {% if ref_type == 'PubMed' %}
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ ref }}">pmid:{{ ref }}</a>
                        {% elif ref_type == 'PubMed Central' %}
                            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/{{ ref }}">pmc:{{ ref }}</a>
                        {% else %}
                            {{ ref_type }}:{{ ref }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
